<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsl.study.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.wsl.study.model.User" >
    <id column="UserID" property="userID" jdbcType="VARCHAR" />
    <result column="UserName" property="userName" jdbcType="VARCHAR" />
    <result column="PlatEntID" property="platEntID" jdbcType="INTEGER" />
    <result column="LoginAccount" property="loginAccount" jdbcType="VARCHAR" />
    <result column="LoginPwd" property="loginPwd" jdbcType="VARCHAR" />
    <result column="AgentPersonID" property="agentPersonID" jdbcType="VARCHAR" />
    <result column="AdminFlag" property="adminFlag" jdbcType="CHAR" />
    <result column="StopFlag" property="stopFlag" jdbcType="CHAR" />
    <result column="DisplaySeq" property="displaySeq" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    UserID, UserName, PlatEntID, LoginAccount, LoginPwd, AgentPersonID, AdminFlag, StopFlag, 
    DisplaySeq
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from admuser
    where UserID = #{userID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from admuser
    where UserID = #{userID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wsl.study.model.User" >
    insert into admuser (UserID, UserName, PlatEntID, 
      LoginAccount, LoginPwd, AgentPersonID, 
      AdminFlag, StopFlag, DisplaySeq
      )
    values (#{userID,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{platEntID,jdbcType=INTEGER}, 
      #{loginAccount,jdbcType=VARCHAR}, #{loginPwd,jdbcType=VARCHAR}, #{agentPersonID,jdbcType=VARCHAR}, 
      #{adminFlag,jdbcType=CHAR}, #{stopFlag,jdbcType=CHAR}, #{displaySeq,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wsl.study.model.User" >
    insert into admuser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userID != null" >
        UserID,
      </if>
      <if test="userName != null" >
        UserName,
      </if>
      <if test="platEntID != null" >
        PlatEntID,
      </if>
      <if test="loginAccount != null" >
        LoginAccount,
      </if>
      <if test="loginPwd != null" >
        LoginPwd,
      </if>
      <if test="agentPersonID != null" >
        AgentPersonID,
      </if>
      <if test="adminFlag != null" >
        AdminFlag,
      </if>
      <if test="stopFlag != null" >
        StopFlag,
      </if>
      <if test="displaySeq != null" >
        DisplaySeq,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userID != null" >
        #{userID,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="platEntID != null" >
        #{platEntID,jdbcType=INTEGER},
      </if>
      <if test="loginAccount != null" >
        #{loginAccount,jdbcType=VARCHAR},
      </if>
      <if test="loginPwd != null" >
        #{loginPwd,jdbcType=VARCHAR},
      </if>
      <if test="agentPersonID != null" >
        #{agentPersonID,jdbcType=VARCHAR},
      </if>
      <if test="adminFlag != null" >
        #{adminFlag,jdbcType=CHAR},
      </if>
      <if test="stopFlag != null" >
        #{stopFlag,jdbcType=CHAR},
      </if>
      <if test="displaySeq != null" >
        #{displaySeq,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wsl.study.model.User" >
    update admuser
    <set >
      <if test="userName != null" >
        UserName = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="platEntID != null" >
        PlatEntID = #{platEntID,jdbcType=INTEGER},
      </if>
      <if test="loginAccount != null" >
        LoginAccount = #{loginAccount,jdbcType=VARCHAR},
      </if>
      <if test="loginPwd != null" >
        LoginPwd = #{loginPwd,jdbcType=VARCHAR},
      </if>
      <if test="agentPersonID != null" >
        AgentPersonID = #{agentPersonID,jdbcType=VARCHAR},
      </if>
      <if test="adminFlag != null" >
        AdminFlag = #{adminFlag,jdbcType=CHAR},
      </if>
      <if test="stopFlag != null" >
        StopFlag = #{stopFlag,jdbcType=CHAR},
      </if>
      <if test="displaySeq != null" >
        DisplaySeq = #{displaySeq,jdbcType=INTEGER},
      </if>
    </set>
    where UserID = #{userID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wsl.study.model.User" >
    update admuser
    set UserName = #{userName,jdbcType=VARCHAR},
      PlatEntID = #{platEntID,jdbcType=INTEGER},
      LoginAccount = #{loginAccount,jdbcType=VARCHAR},
      LoginPwd = #{loginPwd,jdbcType=VARCHAR},
      AgentPersonID = #{agentPersonID,jdbcType=VARCHAR},
      AdminFlag = #{adminFlag,jdbcType=CHAR},
      StopFlag = #{stopFlag,jdbcType=CHAR},
      DisplaySeq = #{displaySeq,jdbcType=INTEGER}
    where UserID = #{userID,jdbcType=VARCHAR}
  </update>
</mapper>